In [76]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from IPython.display import display


# Test URLs and requests...
url_1 = 'https://www.pro-football-reference.com/leaders/pass_yds_career.htm'
url_2 = 'https://www.pro-football-reference.com/leaders/pass_yds_career.htm'
# GET request to the URL
response = requests.get(url_1)
tables = {}
# Check if the request was successful
if response.status_code == 200:
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    # Find all tables in the HTML content, print the number found.
    tables = soup.find_all('table')
    print(f"Number of tables found: {len(tables)}")

    # Iterate over all tables and print a snippet to identify the correct one
    for i, table in enumerate(tables):
        print(f"\nTable {i}:")
        print(table.prettify()[:1000])  # Print snippet of table
else:
    print(f"Failed to fetch the webpage. Status code: {response.status_code}")

Number of tables found: 1

Table 0:
<table class="suppress_glossary sortable stats_table" data-cols-to-freeze=",2" id="pass_yds_leaders">
 <caption>
  Leaders Table
 </caption>
 <colgroup>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
 </colgroup>
 <thead>
  <tr>
   <th aria-label="rank" class="poptip center" data-stat="rank" scope="col">
    Rank
   </th>
   <th aria-label="Player" class="poptip sort_default_asc show_partial_when_sorting left" data-stat="player" scope="col">
    Player
   </th>
   <th aria-label="Passing Yds" class="poptip center" data-stat="pass_yds" data-tip="Yards Gained by Passing&lt;br&gt;For teams, sack yardage is deducted from this total" scope="col">
    Yds
   </th>
   <th aria-label="years" class="poptip center" data-stat="years" scope="col">
    Years
   </th>
   <th aria-label="Tm" class="poptip sort_default_asc show_partial_when_sorting left" data-stat="team" scope="col">
    Tm
   </th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th class="right" data-stat="rank" scope="row">
    1
   </th>
   <t

In [77]:
url_list = [ 'https://www.pro-football-reference.com/leaders/pass_yds_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_cmp_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_att_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_td_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_rating_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_int_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_sacked_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_sacked_yds_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pick_six_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_yds_per_g_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_cmp_perc_career.htm'
            ,'https://www.pro-football-reference.com/leaders/pass_int_perc_career.htm'
            ,'https://www.pro-football-reference.com/leaders/gwd_career.htm'
            ,'https://www.pro-football-reference.com/leaders/comebacks_career.htm'
            ,'https://www.pro-football-reference.com/leaders/career_av_career.htm'
]

# Dictionary to store each DataFrame
dataframes = {}

for url in url_list:
    response = requests.get(url)
    if response.status_code == 200:
        name = url.split("leaders/")[1].replace('_career.htm', '')
        print(f"Let's cook with {name}")
        # Parse HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        tables = soup.find_all('table')
        # Find all tables in the HTML content, print the number found
        if tables:
            print(f"{len(tables)} tables found.")
            table_index = 0  # Replace with the correct table index after identifying
            df = pd.read_html(str(tables[table_index]), header=0)[0]
            # df = df.rename(columns={'Player': 'Player', 'Tm': f'Tm_{name}', 'Years': f'Years_{name}'})
            
            #  save each DataFrame into a dictionary called dataframes, with name as the key
            dataframes[name] = df  # Save each DataFrame with a unique name
        else:
            print("No tables found.")
    else:
        print(f"Failed to fetch the webpage. Status code: {response.status_code}")

# Display the DataFrames
for name, df in dataframes.items():
    print(f"\nDataFrame: {name}")
    display(df.head())

Let's cook with pass_yds
1 tables found.
Let's cook with pass_cmp
1 tables found.
Let's cook with pass_att
1 tables found.
Let's cook with pass_td
1 tables found.
Let's cook with pass_rating
1 tables found.
Let's cook with pass_int
1 tables found.
Let's cook with pass_sacked
1 tables found.
Let's cook with pass_sacked_yds
1 tables found.
Let's cook with pick_six
1 tables found.
Let's cook with pass_yds_per_g
1 tables found.
Let's cook with pass_cmp_perc
1 tables found.
Let's cook with pass_int_perc
1 tables found.
Let's cook with gwd
1 tables found.
Let's cook with comebacks
1 tables found.
Let's cook with career_av
1 tables found.

DataFrame: pass_yds

   Rank              Player    Yds      Years   Tm
0     1           Tom Brady  89214  2000-2022  2TM
1     2          Drew Brees  80358  2001-2020  2TM
2     3     Peyton Manning+  71940  1998-2015  2TM
3     4        Brett Favre+  71838  1991-2010  4TM
4     5  Ben Roethlisberger  64088  2004-2021  pit

DataFrame: pass_cmp

   Rank           Player   Cmp      Years   Tm
0   1.0        Tom Brady  7753  2000-2022  2TM
1   2.0       Drew Brees  7142  2001-2020  2TM
2   3.0     Brett Favre+  6300  1991-2010  4TM
3   4.0  Peyton Manning+  6125  1998-2015  2TM
4   5.0        Matt Ryan  5551  2008-2022  2TM

DataFrame: pass_att

   Rank           Player    Att      Years   Tm
0   1.0        Tom Brady  12050  2000-2022  2TM
1   2.0       Drew Brees  10551  2001-2020  2TM
2   3.0     Brett Favre+  10169  1991-2010  4TM
3   4.0  Peyton Manning+   9380  1998-2015  2TM
4   5.0        Matt Ryan   8464  2008-2022  2TM

DataFrame: pass_td

   Rank           Player   TD      Years   Tm
0   1.0        Tom Brady  649  2000-2022  2TM
1   2.0       Drew Brees  571  2001-2020  2TM
2   3.0  Peyton Manning+  539  1998-2015  2TM
3   4.0     Brett Favre+  508  1991-2010  4TM
4   5.0    Aaron Rodgers  482  2005-2024  2TM

DataFrame: pass_rating

   Rank           Player   Rate      Years   Tm
0   1.0    Aaron Rodgers  103.0  2005-2024  2TM
1   2.0  Patrick Mahomes  102.9  2017-2024  kan
2   3.0   Russell Wilson  100.0  2012-2023  2TM
3   4.0       Joe Burrow   99.9  2020-2024  cin
4   5.0   Deshaun Watson   98.8  2017-2024  2TM

DataFrame: pass_int

   Rank            Player  Int      Years   Tm
0   1.0      Brett Favre+  336  1991-2010  4TM
1   2.0    George Blanda+  277  1949-1975  4TM
2   3.0         John Hadl  268  1962-1977  4TM
3   4.0  Vinny Testaverde  267  1987-2007  7TM
4   5.0   Fran Tarkenton+  266  1961-1978  2TM

DataFrame: pass_sacked

   Rank              Player   Sk      Years   Tm
0   1.0     Fran Tarkenton+  570  1961-1978  2TM
1   2.0           Tom Brady  565  2000-2022  2TM
2   3.0  Ben Roethlisberger  554  2004-2021  pit
3   4.0       Aaron Rodgers  544  2005-2024  2TM
4   5.0      Russell Wilson  527  2012-2023  2TM

DataFrame: pass_sacked_yds

   Rank              Player   Yds      Years   Tm
0   1.0     Fran Tarkenton+  5207  1961-1978  2TM
1   2.0          Dave Krieg  3794  1980-1998  6TM
2   3.0         John Elway+  3785  1983-1998  den
3   4.0       Aaron Rodgers  3704  2005-2024  2TM
4   5.0  Ben Roethlisberger  3677  2004-2021  pit

DataFrame: pick_six

   Rank            Player  Pick6      Years   Tm
0   1.0      Brett Favre+     32  1991-2010  4TM
1   2.0  Matthew Stafford     30  2009-2024  2TM
2   3.0       Dan Marino+     29  1983-1999  mia
3   4.0       Joe Namath+     28  1965-1977  nyj
4   5.0        Drew Brees     27  2001-2020  2TM

DataFrame: pass_yds_per_g

   Rank            Player    Y/G      Years   Tm
0   1.0   Patrick Mahomes  293.7  2017-2024  kan
1   2.0        Drew Brees  280.0  2001-2020  2TM
2   3.0       Andrew Luck  275.2  2012-2018  clt
3   4.0  Matthew Stafford  271.5  2009-2024  2TM
4   5.0        Joe Burrow  271.1  2020-2024  cin

DataFrame: pass_cmp_perc

   Rank           Player   Cmp%      Years   Tm
0   1.0       Joe Burrow  68.3%  2020-2024  cin
1   2.0       Drew Brees  67.7%  2001-2020  2TM
2   3.0  Jimmy Garoppolo  67.4%  2014-2023  3TM
3   4.0     Kirk Cousins  66.9%  2012-2024  3TM
4   NaN     Dak Prescott  66.9%  2016-2024  dal

DataFrame: pass_int_perc

   Rank           Player  Int%      Years   Tm
0   1.0  Jacoby Brissett  1.4%  2016-2024  5TM
1   NaN    Aaron Rodgers  1.4%  2005-2024  2TM
2   3.0     Tyrod Taylor  1.7%  2011-2024  7TM
3   NaN   Justin Herbert  1.7%  2020-2024  sdg
4   5.0        Tom Brady  1.8%  2000-2022  2TM

DataFrame: gwd

   Rank              Player  GWD      Years   Tm                      Link
0   1.0           Tom Brady   58  2000-2022  2TM  View Game-Winning Drives
1   2.0     Peyton Manning+   54  1998-2015  2TM  View Game-Winning Drives
2   3.0          Drew Brees   53  2001-2020  2TM  View Game-Winning Drives
3   NaN  Ben Roethlisberger   53  2004-2021  pit  View Game-Winning Drives
4   5.0         Dan Marino+   47  1983-1999  mia  View Game-Winning Drives

DataFrame: comebacks

   Rank              Player  4QC      Years   Tm            Link
0   1.0           Tom Brady   46  2000-2022  2TM  View Comebacks
1   2.0     Peyton Manning+   43  1998-2015  2TM  View Comebacks
2   3.0  Ben Roethlisberger   41  2004-2021  pit  View Comebacks
3   4.0           Matt Ryan   38  2008-2022  2TM  View Comebacks
4   5.0          Drew Brees   36  2001-2020  2TM  View Comebacks

DataFrame: career_av

   Rank           Player  wAV      Years   Tm
0   1.0        Tom Brady  184  2000-2022  2TM
1   2.0  Peyton Manning+  176  1998-2015  2TM
2   3.0       Drew Brees  167  2001-2020  2TM
3   4.0    Aaron Rodgers  163  2005-2024  2TM
4   5.0    Reggie White+  160  1985-2000  3TM

In [78]:
# Process each DataFrame and put in dataframes dictionary of all dataframes
#  with name of dataframe as key, and the Dataframe as the value.

for name, df in dataframes.items():
    print(f'{name} {df.columns}')
    if 'Rank' in df.columns:
        df.drop(columns=['Rank'], inplace=True)
    print(f"\nDataFrame: {name}")
    # display(df.head())
    # df.columns

# Assuming dataframes is your dictionary with keys as DataFrame names and values as DataFrames
for name, df in dataframes.items():
    print(f"\nDataFrame: {name}")
    print("Columns:", df.columns.tolist())

pass_yds Index(['Rank', 'Player', 'Yds', 'Years', 'Tm'], dtype='object')

DataFrame: pass_yds
pass_cmp Index(['Rank', 'Player', 'Cmp', 'Years', 'Tm'], dtype='object')

DataFrame: pass_cmp
pass_att Index(['Rank', 'Player', 'Att', 'Years', 'Tm'], dtype='object')

DataFrame: pass_att
pass_td Index(['Rank', 'Player', 'TD', 'Years', 'Tm'], dtype='object')

DataFrame: pass_td
pass_rating Index(['Rank', 'Player', 'Rate', 'Years', 'Tm'], dtype='object')

DataFrame: pass_rating
pass_int Index(['Rank', 'Player', 'Int', 'Years', 'Tm'], dtype='object')

DataFrame: pass_int
pass_sacked Index(['Rank', 'Player', 'Sk', 'Years', 'Tm'], dtype='object')

DataFrame: pass_sacked
pass_sacked_yds Index(['Rank', 'Player', 'Yds', 'Years', 'Tm'], dtype='object')

DataFrame: pass_sacked_yds
pick_six Index(['Rank', 'Player', 'Pick6', 'Years', 'Tm'], dtype='object')

DataFrame: pick_six
pass_yds_per_g Index(['Rank', 'Player', 'Y/G', 'Years', 'Tm'], dtype='object')

DataFrame: pass_yds_per_g
pass_cmp_perc Index(['Rank', 'Player', 'Cmp%', 'Years', 'Tm'], dtype='object')

DataFrame: pass_cmp_perc
pass_int_perc Index(['Rank', 'Player', 'Int%', 'Years', 'Tm'], dtype='object')

DataFrame: pass_int_perc
gwd Index(['Rank', 'Player', 'GWD', 'Years', 'Tm', 'Link'], dtype='object')

DataFrame: gwd
comebacks Index(['Rank', 'Player', '4QC', 'Years', 'Tm', 'Link'], dtype='object')

DataFrame: comebacks
career_av Index(['Rank', 'Player', 'wAV', 'Years', 'Tm'], dtype='object')

DataFrame: career_av

DataFrame: pass_yds
Columns: ['Player', 'Yds', 'Years', 'Tm']

DataFrame: pass_cmp
Columns: ['Player', 'Cmp', 'Years', 'Tm']

DataFrame: pass_att
Columns: ['Player', 'Att', 'Years', 'Tm']

DataFrame: pass_td
Columns: ['Player', 'TD', 'Years', 'Tm']

DataFrame: pass_rating
Columns: ['Player', 'Rate', 'Years', 'Tm']

DataFrame: pass_int
Columns: ['Player', 'Int', 'Years', 'Tm']

DataFrame: pass_sacked
Columns: ['Player', 'Sk', 'Years', 'Tm']

DataFrame: pass_sacked_yds
Columns: ['Player', 'Yds', 'Years', 'Tm']

DataFrame: pick_six
Columns: ['Player', 'Pick6', 'Years', 'Tm']

DataFrame: pass_yds_per_g
Columns: ['Player', 'Y/G', 'Years', 'Tm']

DataFrame: pass_cmp_perc
Columns: ['Player', 'Cmp%', 'Years', 'Tm']

DataFrame: pass_int_perc
Columns: ['Player', 'Int%', 'Years', 'Tm']

DataFrame: gwd
Columns: ['Player', 'GWD', 'Years', 'Tm', 'Link']

DataFrame: comebacks
Columns: ['Player', '4QC', 'Years', 'Tm', 'Link']

DataFrame: career_av
Columns: ['Player', 'wAV', 'Years', 'Tm']

In [79]:
game_winning_df = dataframes['gwd'].drop(columns=['Link'])
game_winning_df.head()
dataframes['game_win_drives'] = game_winning_df
display(game_winning_df.head())
del dataframes['gwd']

comebacks_df = dataframes['comebacks'].drop(columns=['Link'])
display(comebacks_df.head())
dataframes['comebacks'] = comebacks_df

               Player  GWD      Years   Tm
0           Tom Brady   58  2000-2022  2TM
1     Peyton Manning+   54  1998-2015  2TM
2          Drew Brees   53  2001-2020  2TM
3  Ben Roethlisberger   53  2004-2021  pit
4         Dan Marino+   47  1983-1999  mia

               Player  4QC      Years   Tm
0           Tom Brady   46  2000-2022  2TM
1     Peyton Manning+   43  1998-2015  2TM
2  Ben Roethlisberger   41  2004-2021  pit
3           Matt Ryan   38  2008-2022  2TM
4          Drew Brees   36  2001-2020  2TM

In [80]:
# List of DataFrame names
df_names = list(dataframes.keys())
# insert the first dataframe:
merged_df = dataframes[df_names[0]]

# interatively merge the Dataframes in df_names:
for name in df_names[1:]:
    if name in dataframes:
        merged_df = pd.merge(merged_df, dataframes[name], 
                             on=['Player', 'Years', 'Tm'], how='outer')
        display(f'{name}')
        display(merged_df.head())
        display(merged_df.info())

'pass_cmp'

               Player      Yds      Years   Tm     Cmp
0           Tom Brady  89214.0  2000-2022  2TM  7753.0
1          Drew Brees  80358.0  2001-2020  2TM  7142.0
2     Peyton Manning+  71940.0  1998-2015  2TM  6125.0
3        Brett Favre+  71838.0  1991-2010  4TM  6300.0
4  Ben Roethlisberger  64088.0  2004-2021  pit  5440.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  256 non-null    object
 1   Yds     250 non-null    float64
 2   Years   256 non-null    object
 3   Tm      256 non-null    object
 4   Cmp     250 non-null    float64
dtypes: float64(2), object(3)
memory usage: 10.1+ KB

None

'pass_att'

               Player      Yds      Years   Tm     Cmp      Att
0           Tom Brady  89214.0  2000-2022  2TM  7753.0  12050.0
1          Drew Brees  80358.0  2001-2020  2TM  7142.0  10551.0
2     Peyton Manning+  71940.0  1998-2015  2TM  6125.0   9380.0
3        Brett Favre+  71838.0  1991-2010  4TM  6300.0  10169.0
4  Ben Roethlisberger  64088.0  2004-2021  pit  5440.0   8443.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  259 non-null    object
 1   Yds     250 non-null    float64
 2   Years   259 non-null    object
 3   Tm      259 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
dtypes: float64(3), object(3)
memory usage: 12.3+ KB

None

'pass_td'

               Player      Yds      Years   Tm     Cmp      Att     TD
0           Tom Brady  89214.0  2000-2022  2TM  7753.0  12050.0  649.0
1          Drew Brees  80358.0  2001-2020  2TM  7142.0  10551.0  571.0
2     Peyton Manning+  71940.0  1998-2015  2TM  6125.0   9380.0  539.0
3        Brett Favre+  71838.0  1991-2010  4TM  6300.0  10169.0  508.0
4  Ben Roethlisberger  64088.0  2004-2021  pit  5440.0   8443.0  418.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  270 non-null    object
 1   Yds     250 non-null    float64
 2   Years   270 non-null    object
 3   Tm      270 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.9+ KB

None

'pass_rating'

               Player      Yds      Years   Tm     Cmp      Att     TD  Rate
0           Tom Brady  89214.0  2000-2022  2TM  7753.0  12050.0  649.0  97.2
1          Drew Brees  80358.0  2001-2020  2TM  7142.0  10551.0  571.0  98.7
2     Peyton Manning+  71940.0  1998-2015  2TM  6125.0   9380.0  539.0  96.5
3        Brett Favre+  71838.0  1991-2010  4TM  6300.0  10169.0  508.0  86.0
4  Ben Roethlisberger  64088.0  2004-2021  pit  5440.0   8443.0  418.0  93.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  270 non-null    object
 1   Yds     250 non-null    float64
 2   Years   270 non-null    object
 3   Tm      270 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
dtypes: float64(5), object(3)
memory usage: 17.0+ KB

None

'pass_int'

,Player,Yds,Years,Tm,Cmp,Att,TD,Rate,Int
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  291 non-null    object
 1   Yds     250 non-null    float64
 2   Years   291 non-null    object
 3   Tm      291 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
dtypes: float64(6), object(3)
memory usage: 20.6+ KB

None

'pass_sacked'

,Player,Yds,Years,Tm,Cmp,Att,TD,Rate,Int,Sk
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  303 non-null    object
 1   Yds     250 non-null    float64
 2   Years   303 non-null    object
 3   Tm      303 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
dtypes: float64(7), object(3)
memory usage: 23.8+ KB

None

'pass_sacked_yds'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  304 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   304 non-null    object
 3   Tm      304 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
dtypes: float64(8), object(3)
memory usage: 26.3+ KB

None

'pick_six'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  458 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   458 non-null    object
 3   Tm      458 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
dtypes: float64(9), object(3)
memory usage: 43.1+ KB

None

'pass_yds_per_g'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  458 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   458 non-null    object
 3   Tm      458 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
dtypes: float64(10), object(3)
memory usage: 46.6+ KB

None

'pass_cmp_perc'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G,Cmp%
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  458 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   458 non-null    object
 3   Tm      458 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
 13  Cmp%    214 non-null    object
dtypes: float64(10), object(4)
memory usage: 50.2+ KB

None

'pass_int_perc'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G,Cmp%,Int%
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%,1.8%
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%,2.3%
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%,2.7%
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%,3.3%
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%,2.5%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  458 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   458 non-null    object
 3   Tm      458 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
 13  Cmp%    214 non-null    object
 14  Int%    214 non-null    object
dtypes: float64(10), object(5)
memory usage: 53.8+ KB

None

'comebacks'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G,Cmp%,Int%,4QC
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%,1.8%,46.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%,2.3%,36.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%,2.7%,43.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%,3.3%,28.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%,2.5%,41.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  475 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   475 non-null    object
 3   Tm      475 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
 13  Cmp%    214 non-null    object
 14  Int%    214 non-null    object
 15  4QC     261 non-null    float64
dtypes: float64(11), object(5)
memory usage: 59.5+ KB

None

'career_av'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G,Cmp%,Int%,4QC,wAV
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%,1.8%,46.0,184.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%,2.3%,36.0,167.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%,2.7%,43.0,176.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%,3.3%,28.0,158.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%,2.5%,41.0,131.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  673 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   673 non-null    object
 3   Tm      673 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
 13  Cmp%    214 non-null    object
 14  Int%    214 non-null    object
 15  4QC     261 non-null    float64
 16  wAV     251 non-null    float64
dtypes: float64(12), object(5)
memory usage: 89.5+ KB

None

'game_win_drives'

,Player,Yds_x,Years,Tm,Cmp,Att,TD,Rate,Int,Sk,Yds_y,Pick6,Y/G,Cmp%,Int%,4QC,wAV,GWD
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%,1.8%,46.0,184.0,58.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%,2.3%,36.0,167.0,53.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%,2.7%,43.0,176.0,54.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%,3.3%,28.0,158.0,43.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%,2.5%,41.0,131.0,53.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  679 non-null    object
 1   Yds_x   250 non-null    float64
 2   Years   679 non-null    object
 3   Tm      679 non-null    object
 4   Cmp     250 non-null    float64
 5   Att     251 non-null    float64
 6   TD      251 non-null    float64
 7   Rate    214 non-null    float64
 8   Int     251 non-null    float64
 9   Sk      250 non-null    float64
 10  Yds_y   250 non-null    float64
 11  Pick6   258 non-null    float64
 12  Y/G     214 non-null    float64
 13  Cmp%    214 non-null    object
 14  Int%    214 non-null    object
 15  4QC     261 non-null    float64
 16  wAV     251 non-null    float64
 17  GWD     266 non-null    float64
dtypes: float64(13), object(5)
memory usage: 95.6+ KB

None

In [81]:
# map old column names to new more column names
merged_df.columns
old_cols = ['Player', 'Yds_x', 'Years', 'Tm', 'Cmp', 'Att', 'TD', 'Rate', 'Int', \
       'Sk', 'Yds_y', 'Pick6', 'Y/G', 'Cmp%', 'Int%', '4QC', 'GWD']
new_cols = ['Player', 'pass_yds', 'yrs_active', 'team', 'comp', 'att', 'pass_td', 'passer_rate', 'int', \
       'sacks', 'yds_lost', 'pick_6', 'pass_yds_game', 'comp_%', 'int_%', 'comebacks', 'game_win_drive']

# Create lists into dictionary
columns_mapping = dict(zip(old_cols, new_cols))
career_stats_df = merged_df.rename(columns= columns_mapping)
display(career_stats_df.head())
career_stats_df.columns

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,yds_lost,pick_6,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,3576.0,18.0,266.3,64.3%,1.8%,46.0,184.0,58.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,2991.0,27.0,280.0,67.7%,2.3%,36.0,167.0,53.0
2,Peyton Manning+,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,1953.0,27.0,270.5,65.3%,2.7%,43.0,176.0,54.0
3,Brett Favre+,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,3487.0,32.0,237.9,62.0%,3.3%,28.0,158.0,43.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,3677.0,18.0,257.4,64.4%,2.5%,41.0,131.0,53.0

Index(['Player', 'pass_yds', 'yrs_active', 'team', 'comp', 'att', 'pass_td',
       'passer_rate', 'int', 'sacks', 'yds_lost', 'pick_6', 'pass_yds_game',
       'comp_%', 'int_%', 'comebacks', 'wAV', 'game_win_drive'],
      dtype='object')

In [82]:
stats_clean_df = career_stats_df.copy()

# split the team column into num_teams and teams:
def split_team(team):
    '''Function to split 'team' into 'num_teams' and 'teams'''
    if 'TM' in team:
        return pd.Series([int(team[0]), 'tm'])
    else:
        return pd.Series([1, team.upper()])

# Apply the function and create new columns
stats_clean_df[['num_teams', 'teams']] = stats_clean_df['team'].apply(split_team)
# Drop the 'team' column
career_stats_df = career_stats_df.drop(columns=['team'])


# Add 'hof' column: 1 if 'Player' contains '+', else 0
stats_clean_df['hof'] = stats_clean_df['Player'].apply(lambda x: 1 if '+' in x else 0)
# Strip the '+' from the 'Player' column values
stats_clean_df['Player'] = stats_clean_df['Player'].str.replace('+', '', regex=False)


# Display the updated DataFrame
display(stats_clean_df.head())

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,pick_6,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams,hof
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,18.0,266.3,64.3%,1.8%,46.0,184.0,58.0,2,tm,0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,27.0,280.0,67.7%,2.3%,36.0,167.0,53.0,2,tm,0
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,27.0,270.5,65.3%,2.7%,43.0,176.0,54.0,2,tm,1
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,32.0,237.9,62.0%,3.3%,28.0,158.0,43.0,4,tm,1
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,18.0,257.4,64.4%,2.5%,41.0,131.0,53.0,1,PIT,0

In [83]:
#  count total years played from years_active and create a new column to capture it

# Function to calculate total years played
def calculate_years_played(yrs_active):
    start_year, end_year = yrs_active.split('-')
    start_year = int(start_year)
    end_year = int(end_year) if int(end_year) != 9999 else 2023
    return end_year - start_year + 1

# Apply the function and create a new column 'total_years_played'
stats_clean_df['tot_yrs_played'] = stats_clean_df['yrs_active'].apply(calculate_years_played)

# Display the updated DataFrame
display(stats_clean_df.head())

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams,hof,tot_yrs_played
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,266.3,64.3%,1.8%,46.0,184.0,58.0,2,tm,0,23
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,280.0,67.7%,2.3%,36.0,167.0,53.0,2,tm,0,20
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,270.5,65.3%,2.7%,43.0,176.0,54.0,2,tm,1,18
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,237.9,62.0%,3.3%,28.0,158.0,43.0,4,tm,1,20
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,257.4,64.4%,2.5%,41.0,131.0,53.0,1,PIT,0,18

In [84]:
# Convert specified columns to integers
import numpy as np

# Convert specified columns to numeric, retaining NaNs
columns_to_convert = ['comp', 'att', 'pass_td', 'int', 'sacks', 'pick_6', 'comebacks', 'game_win_drive']
stats_clean_df[columns_to_convert] = stats_clean_df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Force conversion to integer, handling NaNs properly
stats_clean_df[columns_to_convert] = stats_clean_df[columns_to_convert].astype(pd.Int64Dtype())


display(stats_clean_df.head())
display(stats_clean_df.info())

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams,hof,tot_yrs_played
0,Tom Brady,89214.0,2000-2022,2TM,7753,12050,649,97.2,212,565,...,266.3,64.3%,1.8%,46,184.0,58,2,tm,0,23
1,Drew Brees,80358.0,2001-2020,2TM,7142,10551,571,98.7,243,420,...,280.0,67.7%,2.3%,36,167.0,53,2,tm,0,20
2,Peyton Manning,71940.0,1998-2015,2TM,6125,9380,539,96.5,251,303,...,270.5,65.3%,2.7%,43,176.0,54,2,tm,1,18
3,Brett Favre,71838.0,1991-2010,4TM,6300,10169,508,86.0,336,525,...,237.9,62.0%,3.3%,28,158.0,43,4,tm,1,20
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440,8443,418,93.5,211,554,...,257.4,64.4%,2.5%,41,131.0,53,1,PIT,0,18

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          679 non-null    object
 1   pass_yds        250 non-null    float64
 2   yrs_active      679 non-null    object
 3   team            679 non-null    object
 4   comp            250 non-null    Int64
 5   att             251 non-null    Int64
 6   pass_td         251 non-null    Int64
 7   passer_rate     214 non-null    float64
 8   int             251 non-null    Int64
 9   sacks           250 non-null    Int64
 10  yds_lost        250 non-null    float64
 11  pick_6          258 non-null    Int64
 12  pass_yds_game   214 non-null    float64
 13  comp_%          214 non-null    object
 14  int_%           214 non-null    object
 15  comebacks       261 non-null    Int64
 16  wAV             251 non-null    float64
 17  game_win_drive  266 non-null    Int64
 18  num_teams       679 non-null    int64
 19  teams           679 non-null    object
 20  hof             679 non-null    int64
 21  tot_yrs_played  679 non-null    int64
dtypes: Int64(8), float64(5), int64(3), object(6)
memory usage: 122.1+ KB

None

In [85]:
# View the first 10 columns
first_10_columns = stats_clean_df.iloc[:, :10]
print("First 10 columns:")
display(first_10_columns.head())

# View the next 10 columns
next_10_columns = stats_clean_df.iloc[:, 10:20]
print("Next 10 columns:")
display(next_10_columns.head())

First 10 columns:

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks
0,Tom Brady,89214.0,2000-2022,2TM,7753,12050,649,97.2,212,565
1,Drew Brees,80358.0,2001-2020,2TM,7142,10551,571,98.7,243,420
2,Peyton Manning,71940.0,1998-2015,2TM,6125,9380,539,96.5,251,303
3,Brett Favre,71838.0,1991-2010,4TM,6300,10169,508,86.0,336,525
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440,8443,418,93.5,211,554

Next 10 columns:

,yds_lost,pick_6,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams
0,3576.0,18,266.3,64.3%,1.8%,46,184.0,58,2,tm
1,2991.0,27,280.0,67.7%,2.3%,36,167.0,53,2,tm
2,1953.0,27,270.5,65.3%,2.7%,43,176.0,54,2,tm
3,3487.0,32,237.9,62.0%,3.3%,28,158.0,43,4,tm
4,3677.0,18,257.4,64.4%,2.5%,41,131.0,53,1,PIT

In [87]:
#Export csv
rel_path = "../Data_Artifacts/pro_ref_stats.csv"
stats_clean_df.to_csv(rel_path, index=False)

### ** ALL REMAINING CELLS: NOT USED **