In [22]:
import pandas as pd

# want to merge Career statistics, earnings data
#   for use in analyzing a quarterback's success in the NFL and what metrics seem to be the most
#   important to determine success.

#Import CSVs

##########################################################
# X data: college stats, draft grades, physical profile:
#

# Name, Year Drafted, Round, Pick, Overall, Team, College
#  to_do: rename columns
rel_path = r'..\Data_Artifacts\draft_history.csv'

# player_id, player_name, weight (not all), height (not all), school, grade (ESPN draft grade?)
#  to_do: remove the NaN columns; compare grade to other draft grade
rel_path = r'..\Data_Artifacts\nfl_draft_profiles_clean.csv'

# draft_year, player_id, player_name, pick, overall, round, traded, trade notes, team, 
#   weight, height, grade (ESPN draft grade?)
#  to_do:
rel_path = r'..\Data_Artifacts\nfl_draft_prospects_clean.csv'

##########################################################
# Y/target data: parameters that suggest 'success' as a professional in the NFL
# 

# get career earnings, total teams? (also avail in another DF)
#  to_do Use Year_Drafted and Year_Final to get total years played.
earnings_path = r'..\Data_Artifacts\otcap_career_earnings.csv'

# Use this as Primary data to be used to determine Y data:
# ['Player', 'pass_yds', 'years_active (range)', 'team', 'comp', 'att', 'pass_td',
#        'passer_rate', 'int', 'sacks', 'lost_yards', 'pick_6',
#        'pass_yards_game', 'comp_%', 'int_%', 'comebacks', 'wAV',
#        'game_win_drive']
pro_path = r'..\Data_Artifacts\pro_ref_stats.csv'

In [23]:
# # launch XLS file to view
# display(f'Relative Path: {rel_path}')

# import os
# #  Open the file with default Windows application (Excel for csv)
# if os.path.exists(rel_path):
#     os.startfile(rel_path)
#     display('Opened with default application.')
# else:
#     display(f'File not found at: {rel_path}')

In [24]:
# Read from CSV and enforce correct data types

# Don't do this yet, as it 'traps' the <NA> values that come from the other dataframe as an INT64 and won't let them change.
# pro_df = pd.read_csv(pro_path, dtype={
#     'pass_yds': 'Int64',
#     'comp': 'Int64',
#     'att': 'Int64',
#     'pass_td': 'Int64',
#     'int': 'Int64',
#     'sacks': 'Int64',
#     'pick_6': 'Int64',
#     'comebacks': 'Int64',
#     'game_win_drive': 'Int64'
# })

pro_df = pd.read_csv(pro_path)
earnings_df = pd.read_csv(earnings_path)

# display(pro_df.info())
display(pro_df.head())
pro_df.columns

# display(earnings_df.info())
display(earnings_df.head())
earnings_df.columns

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams,hof,tot_yrs_played
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,266.3,64.3%,1.8%,46.0,184.0,58.0,2,tm,0,23
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,280.0,67.7%,2.3%,36.0,167.0,53.0,2,tm,0,20
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,270.5,65.3%,2.7%,43.0,176.0,54.0,2,tm,1,18
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,237.9,62.0%,3.3%,28.0,158.0,43.0,4,tm,1,20
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,257.4,64.4%,2.5%,41.0,131.0,53.0,1,PIT,0,18

,Player,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict
0,Aaron Rodgers,2005,9999,343.531,546.133,"{'Packers': 306.642, 'Jets': 36.889}"
1,Matt Stafford,2009,9999,328.000,507.909,"{'Lions': 219.0, 'Rams': 109.0}"
2,Tom Brady,2000,2022,317.620,600.483,"{'Patriots': 230.324, 'Buccaneers': 87.296}"
3,Matt Ryan,2008,2022,306.206,501.678,"{'Falcons': 269.5, 'Colts': 36.706}"
4,Russell Wilson,2012,9999,305.340,408.432,"{'Seahawks': 181.34, 'Broncos': 124.0}"

Index(['Player', 'Year_Drafted', 'Year_Final', 'Career Earnings (millions)',
       'Cap-Inflated Earnings (millions)', 'Earnings By Team Dict'],
      dtype='object')

In [25]:
# what to merge: earnings, total_teams from otcap_carreer_earnings.
# re-order and group.

# Merge the DataFrames
merged_df = pd.merge(pro_df, earnings_df, on='Player', how='outer', indicator=True)

# Display where matches weren't found in either DataFrame
no_match = merged_df[merged_df['_merge'] != 'both']

# Display the merged DataFrame and no_match DataFrame
display("Merged DataFrame:")

display(merged_df.info())
# display("\nRows with no match:")
# display(no_match)

'Merged DataFrame:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Player                            960 non-null    object
 1   pass_yds                          250 non-null    float64
 2   yrs_active                        679 non-null    object
 3   team                              679 non-null    object
 4   comp                              250 non-null    float64
 5   att                               251 non-null    float64
 6   pass_td                           251 non-null    float64
 7   passer_rate                       214 non-null    float64
 8   int                               251 non-null    float64
 9   sacks                             250 non-null    float64
 10  yds_lost                          250 non-null    float64
 11  pick_6                            258 non-null    float64
 12  pass_yds_game                     214 non-null    float64
 13  comp_%                            214 non-null    object
 14  int_%                             214 non-null    object
 15  comebacks                         261 non-null    float64
 16  wAV                               251 non-null    float64
 17  game_win_drive                    266 non-null    float64
 18  num_teams                         679 non-null    float64
 19  teams                             679 non-null    object
 20  hof                               679 non-null    float64
 21  tot_yrs_played                    679 non-null    float64
 22  Year_Drafted                      430 non-null    float64
 23  Year_Final                        430 non-null    float64
 24  Career Earnings (millions)        430 non-null    float64
 25  Cap-Inflated Earnings (millions)  430 non-null    float64
 26  Earnings By Team Dict             430 non-null    object
 27  _merge                            960 non-null    category
dtypes: category(1), float64(20), object(7)
memory usage: 203.7+ KB

None

In [26]:
display(merged_df.head())
display(merged_df.tail())
merged_df.columns

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,num_teams,teams,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,2.0,tm,0.0,23.0,2000.0,2022.0,317.620,600.483,"{'Patriots': 230.324, 'Buccaneers': 87.296}",both
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,2.0,tm,0.0,20.0,2001.0,2020.0,273.933,514.108,"{'Saints': 259.25, 'Chargers': 14.683}",both
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,2.0,tm,1.0,18.0,1998.0,2015.0,247.714,645.366,"{'Colts': 170.714, 'Broncos': 77.0}",both
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,4.0,tm,1.0,20.0,1991.0,2010.0,141.407,492.126,"{'Packers': 100.697, 'Vikings': 28.0, 'Jets': ...",both
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,1.0,PIT,0.0,18.0,2004.0,2021.0,266.724,474.559,{'Steelers': 266.724},both

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,num_teams,teams,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge
955,Dalton Sturm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9999.0,9999.0,0.001,0.001,{'Cowboys': 0.001},right_only
956,Brogan Roback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9999.0,9999.0,0.001,0.001,{'Browns': 0.001},right_only
957,Tommy Rees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9999.0,9999.0,0.001,0.002,{'Commanders': 0.001},right_only
958,Nick Stevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9999.0,9999.0,0.000,0.001,{'Broncos': 0.0},right_only
959,Broc Rutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9999.0,9999.0,0.000,0.000,{'49ers': 0.0},right_only

Index(['Player', 'pass_yds', 'yrs_active', 'team', 'comp', 'att', 'pass_td',
       'passer_rate', 'int', 'sacks', 'yds_lost', 'pick_6', 'pass_yds_game',
       'comp_%', 'int_%', 'comebacks', 'wAV', 'game_win_drive', 'num_teams',
       'teams', 'hof', 'tot_yrs_played', 'Year_Drafted', 'Year_Final',
       'Career Earnings (millions)', 'Cap-Inflated Earnings (millions)',
       'Earnings By Team Dict', '_merge'],
      dtype='object')

In [27]:
# Convert specified columns to integers
import numpy as np
combined_df = merged_df.copy()


# # Replace 9999, pd.NA, and '<NA>' with np.nan across the entire DataFrame
combined_df.replace([9999, pd.NA, '<NA>', 'NaN', 'nan'], np.nan, inplace=True)

display('after replacing 9999 and NA and <NA> and nan: ')
display(combined_df.head())
display(combined_df.tail())

'after replacing 9999 and NA and <NA> and nan: '

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,num_teams,teams,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,2.0,tm,0.0,23.0,2000.0,2022.0,317.620,600.483,"{'Patriots': 230.324, 'Buccaneers': 87.296}",both
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,2.0,tm,0.0,20.0,2001.0,2020.0,273.933,514.108,"{'Saints': 259.25, 'Chargers': 14.683}",both
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,2.0,tm,1.0,18.0,1998.0,2015.0,247.714,645.366,"{'Colts': 170.714, 'Broncos': 77.0}",both
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,4.0,tm,1.0,20.0,1991.0,2010.0,141.407,492.126,"{'Packers': 100.697, 'Vikings': 28.0, 'Jets': ...",both
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,1.0,PIT,0.0,18.0,2004.0,2021.0,266.724,474.559,{'Steelers': 266.724},both

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,num_teams,teams,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge
955,Dalton Sturm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.001,0.001,{'Cowboys': 0.001},right_only
956,Brogan Roback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.001,0.001,{'Browns': 0.001},right_only
957,Tommy Rees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.001,0.002,{'Commanders': 0.001},right_only
958,Nick Stevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.001,{'Broncos': 0.0},right_only
959,Broc Rutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,{'49ers': 0.0},right_only

In [28]:
import re
import numpy as np
# Display the "Earnings By Team Dict" column
print(combined_df['Earnings By Team Dict'])

# Convert all values in 'Earnings By Team Dict' to strings
combined_df['Earnings By Team Dict'] = combined_df['Earnings By Team Dict'].astype(str)

# Function to parse the string and split into teams and earnings
def split_earnings(earnings_str):
    teams = re.findall(r"'(.*?)'", earnings_str)
    earnings = re.findall(r": ([\d.]+)", earnings_str)
    earnings = [float(earning) for earning in earnings]
    return pd.Series([teams, earnings])

# Apply the function to create the new columns
combined_df[['Teams_List', 'Earnings_List']] = combined_df['Earnings By Team Dict'].apply(split_earnings)


# Display the updated DataFrame
display(combined_df.head())
display(combined_df.tail())

0            {'Patriots': 230.324, 'Buccaneers': 87.296}
1                 {'Saints': 259.25, 'Chargers': 14.683}
2                    {'Colts': 170.714, 'Broncos': 77.0}
3      {'Packers': 100.697, 'Vikings': 28.0, 'Jets': ...
4                                  {'Steelers': 266.724}
                             ...
955                                   {'Cowboys': 0.001}
956                                    {'Browns': 0.001}
957                                {'Commanders': 0.001}
958                                     {'Broncos': 0.0}
959                                       {'49ers': 0.0}
Name: Earnings By Team Dict, Length: 960, dtype: object

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge,Teams_List,Earnings_List
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0,...,0.0,23.0,2000.0,2022.0,317.620,600.483,"{'Patriots': 230.324, 'Buccaneers': 87.296}",both,"[Patriots, Buccaneers]","[230.324, 87.296]"
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0,...,0.0,20.0,2001.0,2020.0,273.933,514.108,"{'Saints': 259.25, 'Chargers': 14.683}",both,"[Saints, Chargers]","[259.25, 14.683]"
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0,...,1.0,18.0,1998.0,2015.0,247.714,645.366,"{'Colts': 170.714, 'Broncos': 77.0}",both,"[Colts, Broncos]","[170.714, 77.0]"
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0,...,1.0,20.0,1991.0,2010.0,141.407,492.126,"{'Packers': 100.697, 'Vikings': 28.0, 'Jets': ...",both,"[Packers, Vikings, Jets, Falcons]","[100.697, 28.0, 12.0, 0.71]"
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0,...,0.0,18.0,2004.0,2021.0,266.724,474.559,{'Steelers': 266.724},both,[Steelers],[266.724]

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks,...,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge,Teams_List,Earnings_List
955,Dalton Sturm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.001,0.001,{'Cowboys': 0.001},right_only,[Cowboys],[0.001]
956,Brogan Roback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.001,0.001,{'Browns': 0.001},right_only,[Browns],[0.001]
957,Tommy Rees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.001,0.002,{'Commanders': 0.001},right_only,[Commanders],[0.001]
958,Nick Stevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.001,{'Broncos': 0.0},right_only,[Broncos],[0.0]
959,Broc Rutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.000,{'49ers': 0.0},right_only,[49ers],[0.0]

In [29]:
# investigate and organize columns, then determine which to drop.
# Slicing columns 0 to 9 (first 10 columns, next 10, etc.
df_1 = combined_df.iloc[:, :10]
df_2 = combined_df.iloc[:, 10:20]
df_3 = combined_df.iloc[:, 20:30]

display(df_1.head())
display(df_2.head())
display(df_3.head())
combined_df.columns

,Player,pass_yds,yrs_active,team,comp,att,pass_td,passer_rate,int,sacks
0,Tom Brady,89214.0,2000-2022,2TM,7753.0,12050.0,649.0,97.2,212.0,565.0
1,Drew Brees,80358.0,2001-2020,2TM,7142.0,10551.0,571.0,98.7,243.0,420.0
2,Peyton Manning,71940.0,1998-2015,2TM,6125.0,9380.0,539.0,96.5,251.0,303.0
3,Brett Favre,71838.0,1991-2010,4TM,6300.0,10169.0,508.0,86.0,336.0,525.0
4,Ben Roethlisberger,64088.0,2004-2021,pit,5440.0,8443.0,418.0,93.5,211.0,554.0

,yds_lost,pick_6,pass_yds_game,comp_%,int_%,comebacks,wAV,game_win_drive,num_teams,teams
0,3576.0,18.0,266.3,64.3%,1.8%,46.0,184.0,58.0,2.0,tm
1,2991.0,27.0,280.0,67.7%,2.3%,36.0,167.0,53.0,2.0,tm
2,1953.0,27.0,270.5,65.3%,2.7%,43.0,176.0,54.0,2.0,tm
3,3487.0,32.0,237.9,62.0%,3.3%,28.0,158.0,43.0,4.0,tm
4,3677.0,18.0,257.4,64.4%,2.5%,41.0,131.0,53.0,1.0,PIT

,hof,tot_yrs_played,Year_Drafted,Year_Final,Career Earnings (millions),Cap-Inflated Earnings (millions),Earnings By Team Dict,_merge,Teams_List,Earnings_List
0,0.0,23.0,2000.0,2022.0,317.620,600.483,"{'Patriots': 230.324, 'Buccaneers': 87.296}",both,"[Patriots, Buccaneers]","[230.324, 87.296]"
1,0.0,20.0,2001.0,2020.0,273.933,514.108,"{'Saints': 259.25, 'Chargers': 14.683}",both,"[Saints, Chargers]","[259.25, 14.683]"
2,1.0,18.0,1998.0,2015.0,247.714,645.366,"{'Colts': 170.714, 'Broncos': 77.0}",both,"[Colts, Broncos]","[170.714, 77.0]"
3,1.0,20.0,1991.0,2010.0,141.407,492.126,"{'Packers': 100.697, 'Vikings': 28.0, 'Jets': ...",both,"[Packers, Vikings, Jets, Falcons]","[100.697, 28.0, 12.0, 0.71]"
4,0.0,18.0,2004.0,2021.0,266.724,474.559,{'Steelers': 266.724},both,[Steelers],[266.724]

Index(['Player', 'pass_yds', 'yrs_active', 'team', 'comp', 'att', 'pass_td',
       'passer_rate', 'int', 'sacks', 'yds_lost', 'pick_6', 'pass_yds_game',
       'comp_%', 'int_%', 'comebacks', 'wAV', 'game_win_drive', 'num_teams',
       'teams', 'hof', 'tot_yrs_played', 'Year_Drafted', 'Year_Final',
       'Career Earnings (millions)', 'Cap-Inflated Earnings (millions)',
       'Earnings By Team Dict', '_merge', 'Teams_List', 'Earnings_List'],
      dtype='object')

In [30]:
nfl_clean_df = combined_df[[
            'Player','Teams_List', 'num_teams', 'Year_Drafted', 'Year_Final', 'tot_yrs_played',  
            'hof', 'wAV', 'Career Earnings (millions)',                             
            'comp', 'att', 'comp_%', 'int', 'int_%','pass_yds', 'pass_td', 'passer_rate', 
            'pick_6',  'sacks', 
            'pass_yds_game',   'comebacks', 'game_win_drive'                    
    #    'teams', 'yrs_active', 'yds_lost',                      \
    #   'Cap-Inflated Earnings (millions)',  'Earnings By Team Dict', '_merge',  'Earnings_List'
       ]]


# to_do: look for career QBR, look for total games played, yards/att
nfl_clean_df.rename(columns={
    'Player': 'player',         'Teams_List':'teams',       'num_teams': 'num_teams',   
    'Year_Drafted':'yr_draft',  'Year_Final':'yr_final',    'tot_yrs_played': 'tot_yrs',
    'hof': 'hof',               'wAV': 'wAV',               'Career Earnings (millions)': 'earnings_millions',
    'comp': 'comp',             'att': 'att',               'comp_%': 'comp_%',
    'int_%': 'int_%',           'int': 'int',               'pass_yds': 'pass_yds',
    'pass_td': 'pass_td',       'passer_rate':'pass_rating','pick_6': 'pick_6',
    'sacks': 'sacks',           'pass_yds_game':'yds_game', 'comebacks': 'comebacks',
    'game_win_drive': 'gwd'}, inplace=True)

display(nfl_clean_df.head())
display(nfl_clean_df.tail())
display(nfl_clean_df.columns)

C:\Users\black\AppData\Local\Temp\ipykernel_7144\408963432.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean_df.rename(columns={

,player,teams,num_teams,yr_draft,yr_final,tot_yrs,hof,wAV,earnings_millions,comp,...,int,int_%,pass_yds,pass_td,pass_rating,pick_6,sacks,yds_game,comebacks,gwd
0,Tom Brady,"[Patriots, Buccaneers]",2.0,2000.0,2022.0,23.0,0.0,184.0,317.620,7753.0,...,212.0,1.8%,89214.0,649.0,97.2,18.0,565.0,266.3,46.0,58.0
1,Drew Brees,"[Saints, Chargers]",2.0,2001.0,2020.0,20.0,0.0,167.0,273.933,7142.0,...,243.0,2.3%,80358.0,571.0,98.7,27.0,420.0,280.0,36.0,53.0
2,Peyton Manning,"[Colts, Broncos]",2.0,1998.0,2015.0,18.0,1.0,176.0,247.714,6125.0,...,251.0,2.7%,71940.0,539.0,96.5,27.0,303.0,270.5,43.0,54.0
3,Brett Favre,"[Packers, Vikings, Jets, Falcons]",4.0,1991.0,2010.0,20.0,1.0,158.0,141.407,6300.0,...,336.0,3.3%,71838.0,508.0,86.0,32.0,525.0,237.9,28.0,43.0
4,Ben Roethlisberger,[Steelers],1.0,2004.0,2021.0,18.0,0.0,131.0,266.724,5440.0,...,211.0,2.5%,64088.0,418.0,93.5,18.0,554.0,257.4,41.0,53.0

,player,teams,num_teams,yr_draft,yr_final,tot_yrs,hof,wAV,earnings_millions,comp,...,int,int_%,pass_yds,pass_td,pass_rating,pick_6,sacks,yds_game,comebacks,gwd
955,Dalton Sturm,[Cowboys],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,Brogan Roback,[Browns],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,Tommy Rees,[Commanders],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,Nick Stevens,[Broncos],NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,Broc Rutter,[49ers],NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['player', 'teams', 'num_teams', 'yr_draft', 'yr_final', 'tot_yrs',
       'hof', 'wAV', 'earnings_millions', 'comp', 'att', 'comp_%', 'int',
       'int_%', 'pass_yds', 'pass_td', 'pass_rating', 'pick_6', 'sacks',
       'yds_game', 'comebacks', 'gwd'],
      dtype='object')

In [31]:
# investigate and organize columns, then determine which to drop.

# Slicing columns 0 to 9 (first 10 columns, next 10, next 10, etc.)
df_1 = nfl_clean_df.iloc[:, :10]
df_2 = nfl_clean_df.iloc[:, 10:]
# df_3 = nfl_clean_df.iloc[:, 20:30]

display(df_1.head())
display(df_2.head())
# display(df_3.head())
display(nfl_clean_df.info())
display(nfl_clean_df.columns)

,player,teams,num_teams,yr_draft,yr_final,tot_yrs,hof,wAV,earnings_millions,comp
0,Tom Brady,"[Patriots, Buccaneers]",2.0,2000.0,2022.0,23.0,0.0,184.0,317.620,7753.0
1,Drew Brees,"[Saints, Chargers]",2.0,2001.0,2020.0,20.0,0.0,167.0,273.933,7142.0
2,Peyton Manning,"[Colts, Broncos]",2.0,1998.0,2015.0,18.0,1.0,176.0,247.714,6125.0
3,Brett Favre,"[Packers, Vikings, Jets, Falcons]",4.0,1991.0,2010.0,20.0,1.0,158.0,141.407,6300.0
4,Ben Roethlisberger,[Steelers],1.0,2004.0,2021.0,18.0,0.0,131.0,266.724,5440.0

,att,comp_%,int,int_%,pass_yds,pass_td,pass_rating,pick_6,sacks,yds_game,comebacks,gwd
0,12050.0,64.3%,212.0,1.8%,89214.0,649.0,97.2,18.0,565.0,266.3,46.0,58.0
1,10551.0,67.7%,243.0,2.3%,80358.0,571.0,98.7,27.0,420.0,280.0,36.0,53.0
2,9380.0,65.3%,251.0,2.7%,71940.0,539.0,96.5,27.0,303.0,270.5,43.0,54.0
3,10169.0,62.0%,336.0,3.3%,71838.0,508.0,86.0,32.0,525.0,237.9,28.0,43.0
4,8443.0,64.4%,211.0,2.5%,64088.0,418.0,93.5,18.0,554.0,257.4,41.0,53.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player             960 non-null    object
 1   teams              960 non-null    object
 2   num_teams          679 non-null    float64
 3   yr_draft           343 non-null    float64
 4   yr_final           225 non-null    float64
 5   tot_yrs            679 non-null    float64
 6   hof                679 non-null    float64
 7   wAV                251 non-null    float64
 8   earnings_millions  430 non-null    float64
 9   comp               250 non-null    float64
 10  att                251 non-null    float64
 11  comp_%             214 non-null    object
 12  int                251 non-null    float64
 13  int_%              214 non-null    object
 14  pass_yds           250 non-null    float64
 15  pass_td            251 non-null    float64
 16  pass_rating        214 non-null    float64
 17  pick_6             258 non-null    float64
 18  sacks              250 non-null    float64
 19  yds_game           214 non-null    float64
 20  comebacks          261 non-null    float64
 21  gwd                266 non-null    float64
dtypes: float64(18), object(4)
memory usage: 165.1+ KB

None

Index(['player', 'teams', 'num_teams', 'yr_draft', 'yr_final', 'tot_yrs',
       'hof', 'wAV', 'earnings_millions', 'comp', 'att', 'comp_%', 'int',
       'int_%', 'pass_yds', 'pass_td', 'pass_rating', 'pick_6', 'sacks',
       'yds_game', 'comebacks', 'gwd'],
      dtype='object')

In [32]:
# data type assigning with to_numeric; change % strings to Float64
display('before conversions:: ')
display(nfl_clean_df.info())

# Function to convert percentage strings to integers
def convert_to_int(series):
    series = series.astype(str).str.rstrip('%')  # Ensure all entries are strings and remove the '%' sign
    series = pd.to_numeric(series, errors='coerce')  # Convert to numeric (float)
    series = series.fillna(0).astype(int)  # Fill NaN with 0 and convert to int
    return series

nfl_clean_df['comp_%'] = convert_to_int(nfl_clean_df['comp_%'])
nfl_clean_df['int_%'] = convert_to_int(nfl_clean_df['int_%'])

display(nfl_clean_df.info())
display(nfl_clean_df.tail())
display(nfl_clean_df.columns)

'before conversions:: '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player             960 non-null    object
 1   teams              960 non-null    object
 2   num_teams          679 non-null    float64
 3   yr_draft           343 non-null    float64
 4   yr_final           225 non-null    float64
 5   tot_yrs            679 non-null    float64
 6   hof                679 non-null    float64
 7   wAV                251 non-null    float64
 8   earnings_millions  430 non-null    float64
 9   comp               250 non-null    float64
 10  att                251 non-null    float64
 11  comp_%             214 non-null    object
 12  int                251 non-null    float64
 13  int_%              214 non-null    object
 14  pass_yds           250 non-null    float64
 15  pass_td            251 non-null    float64
 16  pass_rating        214 non-null    float64
 17  pick_6             258 non-null    float64
 18  sacks              250 non-null    float64
 19  yds_game           214 non-null    float64
 20  comebacks          261 non-null    float64
 21  gwd                266 non-null    float64
dtypes: float64(18), object(4)
memory usage: 165.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player             960 non-null    object
 1   teams              960 non-null    object
 2   num_teams          679 non-null    float64
 3   yr_draft           343 non-null    float64
 4   yr_final           225 non-null    float64
 5   tot_yrs            679 non-null    float64
 6   hof                679 non-null    float64
 7   wAV                251 non-null    float64
 8   earnings_millions  430 non-null    float64
 9   comp               250 non-null    float64
 10  att                251 non-null    float64
 11  comp_%             960 non-null    int32
 12  int                251 non-null    float64
 13  int_%              960 non-null    int32
 14  pass_yds           250 non-null    float64
 15  pass_td            251 non-null    float64
 16  pass_rating        214 non-null    float64
 17  pick_6             258 non-null    float64
 18  sacks              250 non-null    float64
 19  yds_game           214 non-null    float64
 20  comebacks          261 non-null    float64
 21  gwd                266 non-null    float64
dtypes: float64(18), int32(2), object(2)
memory usage: 157.6+ KB

C:\Users\black\AppData\Local\Temp\ipykernel_7144\1042857477.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean_df['comp_%'] = convert_to_int(nfl_clean_df['comp_%'])
C:\Users\black\AppData\Local\Temp\ipykernel_7144\1042857477.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean_df['int_%'] = convert_to_int(nfl_clean_df['int_%'])

None

,player,teams,num_teams,yr_draft,yr_final,tot_yrs,hof,wAV,earnings_millions,comp,...,int,int_%,pass_yds,pass_td,pass_rating,pick_6,sacks,yds_game,comebacks,gwd
955,Dalton Sturm,[Cowboys],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,Brogan Roback,[Browns],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,Tommy Rees,[Commanders],NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,Nick Stevens,[Broncos],NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,Broc Rutter,[49ers],NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['player', 'teams', 'num_teams', 'yr_draft', 'yr_final', 'tot_yrs',
       'hof', 'wAV', 'earnings_millions', 'comp', 'att', 'comp_%', 'int',
       'int_%', 'pass_yds', 'pass_td', 'pass_rating', 'pick_6', 'sacks',
       'yds_game', 'comebacks', 'gwd'],
      dtype='object')

In [33]:
lower_tier_list = [
        'JARED LORENZEN'
        ,'ROD RUTHERFORD'
        ,'RYAN DINWIDDIE'
        ,'CASEY CLAUSEN'
        ,'SCOTT RISLOV'
        ,'JASON FIFE'
        ,'ROBERT KENT'
        ,'ADAM HALL'
]

lower_tier_df = nfl_clean_df[nfl_clean_df['player'].isin(lower_tier_list)]
lower_tier_df.head()

# display(nfl_clean_df[nfl_clean_df['pick'].isna()])

Empty DataFrame
Columns: [player, teams, num_teams, yr_draft, yr_final, tot_yrs, hof, wAV, earnings_millions, comp, att, comp_%, int, int_%, pass_yds, pass_td, pass_rating, pick_6, sacks, yds_game, comebacks, gwd]
Index: []

[0 rows x 22 columns]

In [34]:
full_count = len(nfl_clean_df)
display(f"{full_count} rows in NFL Career Data (all entries)")

earnings_df = nfl_clean_df.loc[nfl_clean_df['earnings_millions'] > .5]
display(f"{len(earnings_df)}/{full_count} rows for 'earnings' > $500k")
# display(earnings_df.head())
# display(earnings_df.tail())

tot_years_df = nfl_clean_df.loc[nfl_clean_df['tot_yrs'] > 8]
display(f"{len(tot_years_df)}/{full_count} rows 'total years played' > 8 years")
# display(tot_years_df.head())
# display(tot_years_df.tail())

pass_rating_df = nfl_clean_df.loc[nfl_clean_df['pass_rating'] > 60]
display(f"{len(pass_rating_df)}/{full_count} rows 'pass_rating' > 60")
# display(pass_rating_df.head())
# display(pass_rating_df.tail())

pass_yrds_df = nfl_clean_df.loc[nfl_clean_df['pass_yds'] > 15000]
display(f"{len(pass_yrds_df)}/{full_count} rows for 'pass_yds' > 15,000 yards")
# display(pass_yrds_df.head())
# display(pass_yrds_df.tail())

wav_df = nfl_clean_df.loc[nfl_clean_df['wAV'] > 100]
display(f"{len(wav_df)}/{full_count} rows for 'wAV' > 100")
# display(wav_df.head())
# display(wav_df.tail())

comp_per_df = nfl_clean_df.loc[nfl_clean_df['comp_%'] > 60]
display(f"{len(comp_per_df)}/{full_count} rows 'comp_%' > 60")
# display(comp_per_df.head())
# display(comp_per_df.tail())

'960 rows in NFL Career Data (all entries)'

"289/960 rows for 'earnings' > $500k"

"560/960 rows 'total years played' > 8 years"

"207/960 rows 'pass_rating' > 60"

"163/960 rows for 'pass_yds' > 15,000 yards"

"149/960 rows for 'wAV' > 100"

"58/960 rows 'comp_%' > 60"

In [14]:
# to_do  clean up duplicates...what pro ref stat table introduced them?
# get total wins.

In [21]:
#Export csv
rel_path = "../Data_Artifacts/nfl_career_statistics.csv"
nfl_clean_df.to_csv(rel_path, index=False)
print(f'saved csv to: {rel_path}')

saved csv to: ../Data_Artifacts/nfl_career_statistics.csv

In [20]:
# Open file in VCCode:
import os
import subprocess
# Using shell=True allows the command to run in the shell, which sometimes resolves path issues
absolute_path = os.path.abspath(rel_path)
try:
    subprocess.run(f'code "{absolute_path}"', check=True, shell=True)
except FileNotFoundError as e:
        print(f'Error: {e}')
else:
    print(f'File not found at: {absolute_path}')

File not found at: c:\ai_projects\nfl_quarterback_draft\Data_Artifacts\nfl_career_statistics.csv

In [18]:
# launch XLS file to view

import os
#  Open the file with default Windows application (Excel for csv)
if os.path.exists(rel_path):
    os.startfile(rel_path)
    print('Opened with default application.')
else:
    print(f'File not found at: {rel_path}')

FileNotFoundError: [WinError 2] The system cannot find the file specified: '../Data_Artifacts/nfl_career_statistics.csv'

### ** ALL REMAINING CELLS: NOT USED **

In [ ]:
# # write the file:
# relative_path = 'Resources\sandbox_pandas_2024.10_output.txt'
# with open(file_path, 'w') as file:
#     file.write(df_tail2.to_string())
# # -----------------------------

# # open file in ipynb
# with open(relative_path, 'r') as file:
#     display(file.read())

# # ------------------------

# #  Open the file with default Windows application (Excel for csv)
# if os.path.exists(relative_path):
#     os.startfile(relative_path)
#     display('Opened with default application.')
# else:
#     display(f'File not found at: {relative_path}')

# # -----------------------------

# # Open file in VCCode:
# import os
# # Using shell=True allows the command to run in the shell, which sometimes resolves path issues
# absolute_path = os.path.abspath(csv_path)
# try:
#     subprocess.run(f'code "{absolute_path}"', check=True, shell=True)
# except FileNotFoundError as e:
#         display(f'Error: {e}')
# else:
#     display(f'File not found at: {absolute_path}')

In [85]:

# Replace 9999, pd.NA, '<NA>', 'NaN', 'nan' with np.nan across the entire DataFrame
# combined_df.replace(to_replace=[9999, pd.NA, '<NA>', 'NaN', 'nan'], value=np.nan, inplace=True)

# # Apply pd.to_numeric across the entire DataFrame and coerce errors to NaN
# combined_df = combined_df.apply(pd.to_numeric, errors='coerce')
# display('after to numeric: ')
# display(combined_df.info())

# Convert numeric columns to integers where applicable, retaining NaNs
# Using convert_dtypes() will automatically convert each column to its best possible type, handling NaN values gracefully.
# convert_dtypes() is great for finding the best possible types for each column in your DataFrame, but 
#   it typically converts numeric columns to the pandas Int64 dtype, which can handle NaN values. 
#   It doesn't force conversion to plain int

# combined_df = combined_df.convert_dtypes() 
# display('after convert_dtypes: ')
# display(combined_df.info())


# # Convert specified columns to Int64
# columns_to_convert = ['tot_yrs_played', 'Year_Drafted', 'Year_Final', 'hof', 'comp', 'att', 'pass_td', 'int', 'sacks', 'pick_6', 'comebacks', 'game_win_drive']
# combined_df[columns_to_convert] = combined_df[columns_to_convert].astype('Int64')

# display(combined_df.head())
# display(combined_df.tail())
# display(combined_df.columns)

In [ ]:



# # Remove the '%' sign and convert to a numeric type
# nfl_clean_df['comp_%'] = pd.to_numeric(nfl_clean_df['comp_%'].str.rstrip('%'), errors='coerce')
# nfl_clean_df['int_%'] = pd.to_numeric(nfl_clean_df['int_%'].str.rstrip('%'), errors='coerce')

# # Convert the columns to Int64 to handle NaNs
# nfl_clean_df['comp_%'] = nfl_clean_df['comp_%'].astype('Int64')
# nfl_clean_df['int_%'] = nfl_clean_df['int_%'].astype('Int64')


# dtype_df = pro_career_df.apply(pd.to_numeric, errors='coerce')
# display('after to numeric: ')
# display(dtype_df.info())

# Convert numeric columns to integers where applicable, retaining NaNs
# Using convert_dtypes() will automatically convert each column to its best possible type, handling NaN values gracefully.
# convert_dtypes() is great for finding the best possible types for each column in your DataFrame, but 
#   it typically converts numeric columns to the pandas Int64 dtype, which can handle NaN values. 
#   It doesn't force conversion to plain int

# nfl_cleaned_df = nfl_clean_df.convert_dtypes()
# display('after convert_dtypes: ')
# display(nfl_cleaned_df.info())


                                                             
# # Convert specified columns to Int64
# columns_to_convert = ['tot_yrs_played', 'Year_Drafted', 'Year_Final', 'hof', 'comp', 'att', 'pass_td', 'int', 'sacks', 'pick_6', 'comebacks', 'game_win_drive']
# combined_df[columns_to_convert] = combined_df[columns_to_convert].astype('Int64')